.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  transition: opacity 0.3s;
  z-index: 999;
}

.modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.modalContent {
  position: relative;
  width: 100%;
  width: 992px;
  border-radius: 20px;
  background-color: #fff;
  padding: 40px;
  transition: opacity 0.3s, transform 0.3s;
}

.modalCloseButton {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
}

.modalCloseButton {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
}

.modal--entering,
.modal--entered {
  opacity: 1;
}

.modal--entering .modalContent,
.modal--entered .modalContent {
  transform: translateY(0);
}

.modal--exiting,
.modal--exited {
  opacity: 0;
}

.modal--exiting .modalContent,
.modal--exited .modalContent {
  transform: translateY(-50px);
}