@import "tailwindcss";
@import "./css/fonts.css";

@theme {
  --color-primary: #121417;
  --color-secondary: #85aa9f;
  --color-grey-background: rgba(133, 170, 159, 0.1);
  --color-grey-text: rgba(18, 20, 23, 0.8);
  --color-grey-border: rgba(18, 20, 23, 0.1);
  --color-white-hover: #a5c0b8;
  --color-grey-bg: rgba(18, 20, 23, 0.5);
}

body {
  font-family: "MacPaw Fixel Display", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
}
